body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right,  #faf9f9, #add2c9, #5ea3a3,#488b8f);
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border: 1px solid #faf9f9;
    border-radius: 10px;
    background-color: #ffffff4d;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
}
.form-group button {
    padding: 10px 15px;
    background-color: #488b8f;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.form-group button:hover {
    background-color: #5ea3a3;
}
nav {
    text-align: right;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

ul{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;

}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    font-size: 16px;
    color: black;
}

a:hover{
    color: #fff;
}

#send-button
{
    color: white;
    background-color: #488b8f;
    padding: 7px;
    border-radius: 5px;
}

#nav-button {
    background: linear-gradient(to right, #add2c9, #fff);
    border-radius: 10px;
    width: 80px;
    height: 40px;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    z-index: 9999; /* Гарантира, че логото е най-горен елемент */
}

.logo img {
    width: 120px; 
    height: auto;
}

footer {
    width: 100%;
    height: 20vh;
    background: #488b8f;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    flex-direction: column;
}
    
footer .social_icon,
footer .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
    
footer .social_icon li,
footer .menu li{
    list-style: none;
}
    
footer .social_icon li a,
footer .menu li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
    
footer .social_icon li a:hover {
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity:0.75;
}
footer .menu li a:hover{
    opacity:1;
}
footer p{
    color:#fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}